/*------------------ common shared styles ----------------*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap") * {
  margin: 0px;
  padding: 0px;
}
body {
  min-width: 1320px;
  /* padding: 0px 140px; */
  /* margin: 50px 220px; */
}
/*------------------ header related styles --------------------*/
.header-container {
  background-image: url("../resources/Banner\ Image.png");
  height: 570px;
  /* width: 1320px; */
  border-radius: 16px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-size: contain;
  margin: 50px 140px;
  background-repeat: no-repeat;
}

.header-intro {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  padding-top: 175px;
  /* padding-bottom: 0; */
  margin-bottom: 0;
}
.header-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  padding-top: 0;
  margin-top: 10px;
  padding-bottom: 215px;
}

/*-------------------- holiday-related-styles ------------------*/
.holiday-section {
  /* justify-content: center; */
  align-items: center;
}

.holiday-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-top: 120px;
  margin-bottom: 48px;
}
.holiday-description {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
.holiday-category {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 48px;
}
.holiday-image {
  width: 802.9px;
  height: 500px;
  padding-left: 258px;
  padding-bottom: 120px;
}

/* welcome-party-related style */
.welcome-party-container {
  background-image: url("../resources/Banner\ Image.png");
  height: 520px;
  /* width: 1320px; */
  border-radius: 16px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-size: contain;
  margin: 50px 140px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.greeting-to-party {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  text-align: center;
  padding: 0px;
  padding-bottom: 0;
  margin-top: 0;
  /* margin-left: 10px; */
  /* padding-bottom: 0px; */
  /* gap: 5px; */
}
.party-description {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px 30px;
  font-weight: 400;
  padding-top: 0px;
  margin-left: 50px;
}
#join-btn {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-left: 128px;
  border-radius: 0;
  background-color: #070211;
  padding: 10px 15px;
}
.welcome-party-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 40px;
  padding-top: 68px;
  padding-bottom: 68px;
  margin-bottom: 40px;
}

/* --------------portfolio-related-css--------------- */
.portfolio-container {
  /* align-items: center; */
  background: #fff;
  margin: 0px 140px;
  padding-bottom: 120px;

  /* text-align: center; */
}
.best-gift {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 15px;
  /* text-align: center; */
}

.portfolio-title {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 19px;
}
.portfolio-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
}
.portfolio-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 16px;
  gap: 10px;
}
.portfolio-images img {
  width: 370px;
  height: 400px;
  cursor: pointer;
}
.portfolio-images img:hover {
  border: 2px solid burlywood;
}

/* subscribe-related-styles */
.subscribe-container {
  margin: 0px 140px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  height: 450px;
  display: block;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
  margin-bottom: 120px;
}
.subscribe-image {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  padding-top: 80px;
}

.subscribe-title {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  margin-top: 0;
  padding-top: 10px;
}

.subscribe-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 40px;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* padding-bottom: 120px; */
}
input {
  border: none;
  padding: 25px 350px 25px 30px;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
}
button {
  border: none;
  padding: 25px 50px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
}

/* footer-related-styles */
footer {
  background: #070211;
  /* padding-top: 120px; */

  margin: 0;
}
.address-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 50px;
}
.building-street-location {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  /* margin: 0 140px; */
}

.contact-website-link {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 0;
  gap: 20px;
}
.hr-line {
  background: rgba(235, 2, 2, 0.15);
  margin: 0 140px;
}
.social-website-img,
img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 45px;
  padding-bottom: 45px;
  /* width: 64px; */
  /* height: 64px; */
}
.allrights-unsubscribe {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 120px;
}
